/* Datasets and Labs: white background inside the iframe */
html, body
{
	background-color: #fff;
	font-family: "Raleway";
	font-size: 15px;
}
fieldset 
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.l1
{
	background: #009900;
	border: solid 1px #009900;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
	font-family: "Raleway";
	font-size: 15px;
	font-weight: bold;
	color: white;
}
.l2
{
	background: #ff3333;
	border: solid 1px #ff3333;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
	font-family: "Raleway";
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.button1 
{
    background-color: #990000;
    border: none;
	margin: auto;
    color: white;
    width:200px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
	display: block;
	float: right;
    font-size: 18px;
	font-weight: bold;
	line-height:15px;
	font-family: "Raleway";
}
.button1:hover
{
	cursor: pointer;
	background-color: #00004d;
}
.button3 
{
    background-color: #008073;
    border: none;
	margin: auto;
    color: white;
    width:200px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
	display: block;
	float: right;
    font-size: 18px;
	font-weight: bold;
	line-height:15px;
	font-family: "Raleway";
}
.button3:hover
{
	cursor: pointer;
	background-color: #00004d;
}
.button4 
{
    background-color: #1f0075;
    border: none;
	margin: auto;
    color: white;
    width:200px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
	display: block;
	float: right;
    font-size: 18px;
	font-weight: bold;
	line-height:15px;
	font-family: "Raleway";
}
.button4:hover
{
	cursor: pointer;
	background-color: #00004d;
}

.button2 
{
    background-color: #990000;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
	display: block;
    font-size: 18px;
	font-weight: bold;
	line-height:15px;
	font-family: "Raleway";
}
.button2:hover
{
	cursor: pointer;
	background-color: #00004d;
}
a:link 
{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
a:visited 
{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
a:hover 
{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

a:active 
{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.molimg 
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.molimg:hover 
{
opacity: 0.7;
}

.molgif 
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.molgif:hover 
{
opacity: 0.7;
}

.molabs
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.molabs:hover 
{
opacity: 0.7;
}

.molhc
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.molhc:hover 
{
opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
blink, .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}
